name: 3. Deploy to Dev

env:
  AZURE_WEBAPP_NAME: app-maaldocomapi-dev-cus

on:
  workflow_run:
    workflows: ["2. Build, Package, & Publish"]
    types: [completed]
    branches: [main]

permissions:
  contents: read

jobs:
  deploy-to-dev:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    permissions:
      contents: none
    runs-on: ubuntu-latest
    environment:
      name: 'Dev'
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.x'

      - name: Restore dependencies
        run: dotnet restore

      - name: Build solution
        run: dotnet build --no-restore --configuration Release
        
      - name: Create EF migration bundle
        run: |
          dotnet tool install --global dotnet-ef
          dotnet ef migrations bundle --project MaaldoCom.Services.Infrastructure/MaaldoCom.Services.Infrastructure.csproj --output efbundle
          
#      - name: Run EF migrations
#        run: ./efbundle --connection ${{ secrets.AZURE_DEV_MIGRATIONS_CONNECTION_STRING }} --verbose
          
      - name: Lowercase the repo name and username
        run: echo "REPO=${GITHUB_REPOSITORY,,}" >>${GITHUB_ENV}

      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v2
        with:
          app-name: ${{ env.AZURE_WEBAPP_NAME }}
          publish-profile: ${{ secrets.AZURE_DEV_WEBAPP_PUBLISH_PROFILE }}
          images: 'ghcr.io/${{ env.REPO }}:${{ github.sha }}'