name: Reusable Deploy to Azure

on:
  workflow_call:
    inputs:
      environment:
        description: 'Deployment environment name (Dev, Test, Prod)'
        required: true
        type: string
      app-name:
        description: 'Azure Web App name'
        required: true
        type: string
    secrets:
      publish-profile:
        description: 'Azure publish profile'
        required: true

permissions:
  contents: read

jobs:
  deploy:
    permissions:
      contents: none
    runs-on: ubuntu-latest
    environment:
      name: ${{ inputs.environment }}
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}
    concurrency:
      group: deploy-${{ inputs.environment }}
      cancel-in-progress: false

    steps:
      - name: Lowercase the repo name and username
        run: echo "REPO=${GITHUB_REPOSITORY,,}" >>${GITHUB_ENV}

      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v2
        with:
          app-name: ${{ inputs.app-name }}
          publish-profile: ${{ secrets.publish-profile }}
          images: 'ghcr.io/${{ env.REPO }}:${{ github.sha }}'
