name: Restore, Build, & Test
on:
  push:
    branches: [main]
  pull_request: 
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.x'

      - name: Restore dependencies
        run: dotnet restore "${{github.workspace}}/MaaldoCom.Services.sln"

      - name: Build
        run: dotnet build "${{github.workspace}}/MaaldoCom.Services.sln"  --no-restore --configuration Release
      
      - name: Test
        run: |
          mkdir -p "${{ github.workspace }}/results"
          echo "Running solution-level tests and writing separate results into results/"
          dotnet test "${{github.workspace}}/MaaldoCom.Services.sln" --no-restore --configuration Release --logger:"junit" --results-directory "${{ github.workspace }}/results"

      - name: Create test summary
        uses: test-summary/action@v2.4
        with:
          paths: ${{ github.workspace }}/results/*
          output: ${{ github.workspace }}/results/summary.md
          show: "all"
        if: always()

      - name: Add Test Results To Job Summary
        run: |
          echo "TEST RESULTS:" >> $GITHUB_STEP_SUMMARY
          echo "" >> $GITHUB_STEP_SUMMARY # this is a blank line
          cat "${{ github.workspace }}/results/summary.md" >> $GITHUB_STEP_SUMMARY
        if: always()
